.new_item{

    width: 1200px;
    height: auto;
    top: 50px;
    margin: 0 auto;
    position: relative;
    // border: 1px solid  blue;
    font-family: 'PT Sans', sans-serif;
    color: rgba(55,71,79,1);

    ol{
        width: 100%;
        height: auto;
        font-size: 18px;
        text-align: left;
        font-style: italic;
        position: relative;
        li{
            // width: 100%;
            padding-top: 20px;
            position: relative;
            // border-bottom: 2px;
            // border-color: antiquewhite;
            h4{
                font-weight:lighter;
                color:darkorange;
                
            }
            span{
                font-style: normal;
                font-size: 20px;
                font-weight: bolder;
            }
            p{
                text-indent: 2em;
            }
            // a{
            //     target:_blank;
            // }
            img{
                // width: 340px;
                // height: 500px;
                // position: relative;
            // float: right;
            // border: 1px solid  red;
            margin: 0 auto;
            }
        }
    }
}