.new_item {
  width: 1200px;
  height: auto;
  top: 50px;
  margin: 0 auto;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  color: #37474f;
}
.new_item ol {
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  font-style: italic;
  position: relative;
}
.new_item ol li {
  padding-top: 20px;
  position: relative;
}
.new_item ol li h4 {
  font-weight: lighter;
  color: darkorange;
}
.new_item ol li span {
  font-style: normal;
  font-size: 20px;
  font-weight: bolder;
}
.new_item ol li p {
  text-indent: 2em;
}
.new_item ol li img {
  margin: 0 auto;
}
