*{margin: 0px; padding: 0px;}
a{
	text-decoration: none;
}


.pub_title_bj{
	width: 100%;
	height: 90px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
}

.pub_title{
	width: 70%;
	height: 90px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin: 0 auto;
}

.pub_title span{
	font-size:22px;
	/* line-height:1em; */
	font-family:wfont_bca82c_12489e6e47cf4389ba0ec3bccde9edd9,wf_12489e6e47cf4389ba0ec3bcc,orig_gentona_book;
	letter-spacing:0em;
	font-style:normal;
	font-weight: 400;
	/* color:#000000; */
	
}



.max_back{
	width: 100%;
	height: 620px;
	min-width: 1000px;
	/* border: 1px solid  black; */
	float: right;
	margin-top: 20px;
	overflow: scroll;
	
	
}



.pub_1_bj{
	
	width: 95%;
	height: 200px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
	display: block;
	
}

.pub_2_bj{
	
	width: 95%;
	height: 100px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
	display: block;
	
}
.pub_3_bj{
	
	width: 95%;
	/* height: 60px; */
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 40px;
	display: block;
	
}

.pub_1{
	
	width: 70%;
	height: 100%;
	min-width: 1000px;
	/* border: 1px solid  red; */
	/* float: right; */
	margin: 0 auto;
	/* display: inherit; */
	
}
.pub_1_des{
	width: 70%;
	height: 100%;
	/* min-width: 1000px; */
	/* border: 1px solid  red; */
	float: left;
	/* margin: 0 auto; */
	/* display: inherit; */
}

#btn {
	width: 60%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background: #CCC; */
	margin-left: 19%;
	/* margin-top: 100px; */

}

#btn button{
	/* border: 0px solid  red; */
	font-size: 18px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;

	/* background-color:cornflowerblue;按钮背景颜色 */
	border-radius: 5px;/*让按钮变得圆滑一点*/
	border-width: 0;/*消去按钮丑的边框*/
	outline: none;/*取消轮廓*/
			/* font-family: KaiTi;字体设置为楷体 */
			/* font-size: 17px;设置字体大小 */
			/* text-align: center;字体居中 */
	cursor: pointer;/*设置鼠标箭头手势*/


}

.on{ 
color:#2676e3;
font-weight: bolder;
} 
