*{margin: 0px; padding: 0px;}
a{
	text-decoration: none;
}


.pub_title_bj{
	width: 100%;
	height: 90px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
}

.pub_title{
	width: 70%;
	height: 90px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin: 0 auto;
}

.pub_title span{
	font-size:22px;
	/* line-height:1em; */
	font-family:wfont_bca82c_12489e6e47cf4389ba0ec3bccde9edd9,wf_12489e6e47cf4389ba0ec3bcc,orig_gentona_book;
	letter-spacing:0em;
	font-style:normal;
	font-weight: 400;
	/* color:#000000; */
	
}



.max_back{
	width: 100%;
	height: 620px;
	min-width: 1000px;
	/* border: 1px solid  black; */
	float: right;
	margin-top: 20px;
	overflow: scroll;
	
	
}



.pub_1_bj{
	
	width: 95%;
	height: 200px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
	display: block;
	
}

.pub_2_bj{
	
	width: 95%;
	height: 100px;
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 20px;
	display: block;
	
}
.pub_3_bj{
	
	width: 95%;
	/* height: 60px; */
	min-width: 1000px;
	/* border: 1px solid  red; */
	float: right;
	margin-top: 40px;
	display: block;
	
}

.pub_1{
	
	width: 70%;
	height: 100%;
	min-width: 1000px;
	/* border: 1px solid  red; */
	/* float: right; */
	margin: 0 auto;
	/* display: inherit; */
	
}
.pub_1_des{
	width: 70%;
	height: 100%;
	/* min-width: 1000px; */
	/* border: 1px solid  red; */
	float: left;
	/* margin: 0 auto; */
	/* display: inherit; */
}
.pub_1_img{
	
	width: 25%;
	height: 100%;
	/* min-width: 1000px; */
	background-image:  url(../artical_img/adma202209074-fig-0008-m.jpg);
	background-repeat: no-repeat;
	background-size: 95% 70%;
	background-position:left center ;
	/* border: 1px solid  red; */
	float: right;
	/* display: inherit; */
}

.pub_2_img{
	
	width: 25%;
	height: 100%;
	/* min-width: 1000px; */
	background-image:  url(../artical_img/anie202214117-fig-0004-m.jpg);
	background-repeat: no-repeat;
	background-size: 95% 100%;
	background-position:left center ;
	/* border: 1px solid  red; */
	float: right;
	/* display: inherit; */
}

.pub_3_img{
	
	width: 25%;
	height: 100%;
	/* min-width: 1000px; */
	background-image:  url(../artical_img/1-s2.0-S2590238522006506-fx1_lrg.jpg);
	background-repeat: no-repeat;
	background-size: 95% 100%;
	background-position:left center ;
	/* border: 1px solid  red; */
	float: right;
	/* display: inherit; */
}

.pub_4_img{
	
	width: 25%;
	height: 100%;
	/* min-width: 1000px; */
	background-image:  url(../artical_img/1-s2.0-S2095809922007664-gr2_lrg.jpg);
	background-repeat: no-repeat;
	background-size: 95% 100%;
	background-position:left center ;
	/* border: 1px solid  red; */
	float: right;
	/* display: inherit; */
}


.pub_5_img{
	
	width: 25%;
	height: 100%;
	/* min-width: 1000px; */
	background-image:  url(../artical_img/adma202207234-fig-0004-m.jpg);
	background-repeat: no-repeat;
	background-size: 95% 100%;
	background-position:left center ;
	/* border: 1px solid  red; */
	float: right;
	/* display: inherit; */
}


.qie_pian{
	width: 100%;
	height: 100%; 
}

#con .active{ 
	/* 让class名是active的元素显示出来 */ 
	/* width: 100%;
	height: 300px;  */
	/* float: left; */
	display: block; 
} 

.hide {
	display: none;
}

#btn {
	width: 80%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background: #CCC; */
	margin-left: 9%;
	/* margin-top: 100px; */

}

#btn button{
	border: 0px solid  red;
	font-size: 18px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
}

.on{ 
	/* 让class名是on的元素，文字变成红色 */ 
color: red; 
} 
