*{margin: 0px; padding: 0px;}
a{
	text-decoration: none;
}

.res_sta_bj{
	width: 100%;
	height: auto;
	/* border: 1px solid  black; */
	/* background-color: #F5F5F5; */
	/* float: left; */
	float: left;
	padding-bottom: 25px;
}

.res_state{
	
	color: rgba(55,71,79,1);
	font-family: 'PT Sans', sans-serif;
	font-size: 19pt;
	font-weight: 700;
	line-height: 1.4;
	margin-top: 20px;
}
.res_sta_bj_z{
	width: 1300px;
	height: 100%;
	/* border: 1px solid  black; */
	/* float: left; */
	margin-top: 15px;
	margin: 0 auto;
}
.res_sta_doc{
	/* border: 1px solid  black; */
}

.res_sta_doc_sp{
		color: rgba(33,33,33,1);
	    font-family: Merriweather, Arial;
	    font-size: 11pt;
	    font-weight:400;
	    line-height: 1.6667;
	    margin-top: 12px;
}

.res_title_bj{
	width: 100%;
	min-width: 1300px;
	height: 30px;
	/* border: 1px solid  black; */
	/* float: left; */
	margin-top: 25px;
	/* margin: 0 auto; */
}




.res_title{
	width: 70%;
	height: 30px;
	/* border: 1px solid  black; */
	/* float: left; */
	margin-top: 15px;
	margin: 0 auto;
}
.res_title_ys{
		color: rgba(55,71,79,1);
		font-family: 'PT Sans', sans-serif;
		font-size: 19pt;
		font-weight: 700;
		line-height: 1.4;
		/* margin-top: 20px; */
}
.res_title_span{
	display: block;
	max-width: 100%;
	pointer-events: all;
	text-align: center;
	position: relative;
}

.res_doc1_bj{
	width: 1300px;
	/* min-width: 1300px; */
	height: auto;
	/* border: 1px solid  black; */
	/* float: left; */
	/* margin-top: 150px; */
	margin: 0 auto;
}


.res_baterry_bj{
	width: 100%;
	height: auto;
	/* display: block; */
	/* border: 1px solid  black; */
	/* float: left; */
	/* margin-top: 15px; */
	margin: 0 auto;
}

.res_baterry_left{
	width: 100%;
	height: 100%;
	float: left;
	/* border: 1px solid  black; */
}

.res_baterry_left img{

	display: block;
	margin: 0 auto;
	/* border: 1px solid red; */
}


.res_baterry_img_des{
	width: 100%;
	height: 15%;
	display: block;
	/* float: ; */
	/* border
	: 1px solid  black; */
}




.res_wx_des{
	color: rgba(33,33,33,1);
	font-family: 'PT Sans', sans-serif;
	font-size: 9pt;
	line-height: 1.2;
	margin-top: 10px;
	/* font-style: italic; */
	font-variant: normal;
}

.res_wx_des_span{
	display: block;
	max-width: 100%;
	pointer-events: all;
	text-align: center;
	position: relative;
}
