
.KTZ_Team{
	/* width: 40%; */
	height: 90px;
	/* display: flex; */
	/*  */
	/* float: left; */
	/* border: 1px solid  blue; */
	/* margin-right: 300px; */
	margin:0px auto;
	
}
.KTZ_Team_span {
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 40px;
	/* color: rgba(33,33,33,1); */
	color: rgb(51, 51, 51);
	font-variant: normal;
	font-weight: normal;
	/* border: 1px solid  green; */
	margin:0px auto;
	text-align: center;

}



.team_bg{
	background-color: #F4F8FB;
	width: 1200px;
	height: 130px;

	/* display: flex; */
	margin-top: 150px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.6);
	left: 0;
	right: 0;
	margin: auto;
}

.team_des{
	width: 90%;
	height: 130px;
	margin: 0 auto;
	margin-top: 12px;
	
	
}

.team_des h2{
	font-size:22px; 
	line-height:1.2em;
}
.team_des span{
font-size:22px;
font-weight:normal;
font-family:wfont_bca82c_12489e6e47cf4389ba0ec3bccde9edd9,wf_12489e6e47cf4389ba0ec3bcc,orig_gentona_book;


}


.team_img{
	width: 800px;
	height: 350px;
	/* float: left; */
	/* margin-top: 45px; */
	background-image:  url(../img/dflg_1.jpeg);
	background-repeat: no-repeat;
	/* display: flex; */
	/* background-size: 100% 100% ; */
	/* background-size: ; */
	/* background-position: auto; */
	
	position: relative;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/* .team_img:hover{
	/* color: #2676e3; */
	/* width: 80%;
	height: 350px;
	float: left; */
	
	/* background-image:  url(../img/dflg_2.png); */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100% ; */
	/* background-position: auto; */
	/* margin-top: 45px;
	margin-left: 25%; */
/* } */ 



.team_des_pi{
	width: 100%;
	/* min-width: 1920px; */
	height: 500px;
	/* float: left; */
	margin-top: 85px;
	position: relative;
	/* border: 1px solid  green; */
	/* display: flex; */
}
.team_pi{
	width: 1000px;
	height: auto;

	position: relative;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	/* margin: 0 auto; */
	/* border: 1px solid  green; */
}

.pi_img{
	width: 240px;
	height: 350px;
	float: left;
	/* margin-top: 20px; */
	/* border: 1px solid  black; */
	
}

.pi_img_img{
	height: 90%;
	/* float: left; */
	
	/* background-image:  url(../img/wang.gif); */
	background-image:  url(https://static.wixstatic.com/media/fb7874_56851f847d434677961a93be7ef26bd3~mv2.jpg/v1/crop/x_0,y_24,w_1200,h_1753/fill/w_366,h_535,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/changhong-wang.jpg);
	background-repeat: no-repeat;
	background-size: 90% 100%;
	background-position: center;
	/* border: 1px solid  black; */
}

.pi_img_email{
	width: 15%;
	/* height: 20%; */
	/* border: 1px solid  red; */
	margin-top: 10px;
	float: left;
}
.pi_img_email2{
	width: 70%;
	height: 45px;
	/* border: 1px solid  red; */
	margin-top: 10px;
	float: left;
	font-family: 'PT Sans', sans-serif;
	padding: 15px;
	margin: 0 auto;
}
.pi_img_email2  img{
	position: absolute;
	margin: 0 auto;
	/* border: 1px solid  green; */
}

.pi_img_email2 a {
	position: absolute;
	margin-left: 30px;
	font-family: 'PT Sans', sans-serif;
	color: rgba(33,33,33,1);
	font-size:15px;
	/* border: 1px solid  green; */
}

.pi_img_email2 span {
	position: absolute;
	margin-left: 280px;
	font-family: 'PT Sans', sans-serif;
	color: rgba(33,33,33,1);
	font-size:15px;
	/* border: 1px solid  green; */
}

.pi_des{
	width: 70%;
	height: 350px;
	position: relative;
	/* float: right; */
	
	margin-top: 55px;
	/* float: right; */
	margin-left: 250px;
}



.pi_des_span1 {
	/* color:#002D72; */
	font-size:26px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing:0.03em;
	font-weight: bolder;
	line-height:1.2em;
}
.pi_des_span2{
	color:#353131;
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing:0.03em;
	line-height:1.8em;
}
.pi_ct{
	width: 60%;
	height: 50px;
	float: right;
	/* border: 1px solid  green; */
	margin-top: 0px;
}
.pi_ct1{
	width: 20%;
	height: 40px;
	float: left;
	/* border: 1px solid  green; */
	/* margin-top: 35px; */
}

.pi_ct2{
	width: 20%;
	height: 40px;
	float: left;
	/* border: 1px solid  green; */
	/* margin-top: 35px; */
}

.team_phd_std{
	width: 100%;
	height: 60px;
	/* border: 1px solid  black; */
	position: block;
	/* float: left; */
	float: left;
	margin-top: 150px;
}


.phd_pos_ms{
	width: 1030px;
	height: auto;
	/* float:left; */
	/* display: block ; */
	/* float: left; */
	/* position: relative; */
	margin: 0 auto;
	/* border: 1px solid  green; */
}
.posdoc_bj{
	width: 1100px;
	height: auto;
	margin: 0 auto;
	/* border: 1px solid  red; */
	display: flex;
}
.posdoc_bj_des{
	width: 260px;
	height: 330px;
	/* border: 1px solid  black; */
	text-align:center;
}
.posdoc_bj_des img{
	
	/* margin-top: -70px; */
	position:relative；
}
.posdoc_bj_des  p{
	width: 100%;
	color:#353131;
	font-size:12px;
}

.phd_bj{
	
	width: 1100px;
	height: auto;
	/* float:left; */
	position: block;
	display: flex;
	float: left ;
	margin: 0 auto;
	/* border: 1px solid  rgb(32, 38, 202); */
}
.phd_researcher{
	width: 260px;
	height: 330px;
	/* border: 1px solid  black; */
	text-align:center;
}
.phd_researcher p{
	width: 100%;
	color:#353131;
	font-size:12px;
}




.assistent_bj{
	
	width: 1000px;
	height: auto;
	/* float:left; */
	position: block;
	display: flex;
	float: left ;
	margin: 0 auto;
	/* border: 1px solid  rgb(32, 38, 202); */
}
.assistent_researcher{
	width: 260px;
	height: 330px;
	/* border: 1px solid  black; */
	text-align:center;
}
.assistent_researcher p{
	width: 100%;
	color:#353131;
	font-size:12px;
}








.pi_des_span3{
	width: 100%;
	color:#353131;
	font-size:22px;
	/* font-family:wfont_bca82c_12489e6e47cf4389ba0ec3bccde9edd9,wf_12489e6e47cf4389ba0ec3bcc,orig_gentona_book; */
	letter-spacing:0.03em;
	line-height:1.3em;
	border: 1px solid  green;
	text-align: center;
}

.pi_des_span4{
	text-decoration: none;
	color:#000000;
	/* fot */
}


.under_re_bj{
	width: 100%;
	height: 260px;
	/* border: 1px solid  black; */
	/* float: left; */
	float: left;
	margin-top: 15px;
}
.under_researchers{
	width: 60%;
	height: 260px;
	margin: 0 auto;
	/* border: 1px solid  green; */
}

.team_join_bj{
	width: 100%;
	height: 360px;
	/* border: 1px solid  black; */
	background-color: #F5F5F5;
	/* float: left; */
	float: left;
	margin-top: 15px;
}

.team_join_us{
	width: 60%;
	height: 360px;
	margin: 0 auto;
	/* border: 1px solid  green; */
}

.team_alumni_bj{
	width: 100%;
	height: 260px;
	/* border: 1px solid  black; */
	/* float: left; */
	float: left;
	margin-top: 15px;
}
.team_alumni{
	width: 60%;
	height: 260px;
	margin: 0 auto;
	/* border: 1px solid  green; */
}
.pi_des_style1{
	list-style-type: circle;
	padding-inline-start: 4%;
}